apiVersion: v1
kind: Secret
metadata:
  name: aws
type: Opaque
data:
  s3-access.access: ${s3-access-access}
  s3-access.secret: ${s3-access-secret}
  dynamo-access.access: ${dynamo-access-access}
  dynamo-access.secret: ${dynamo-access-secret}
